@media screen and (max-width:900px) {
    .navigation{
        flex-direction: column;
        
    }
    .nav-left{
        flex-direction: column;
        text-align: center;

    }
    .nav-right{
        margin-bottom:15px;
        margin-top: 5px;
    }
    .content{
        text-align: center;
    }
    .content-right{
        display: none;
    }
    .article{
        flex-direction: column;
    }
    .text-area{
        width: 100%;
    }
}