@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Staatliches&display=swap');
:root {
  --Font1: "Staatliches", cursive;
  --font2:'Roboto', sans-serif;
}
.max-width-1 {
  width: 80vw;
}
.max-width-2 {
  width: 80vw;
}
.max-width-3 {
  width: 50vw;
}
.m-auto {
  margin: auto;
}
.Form-input {
    height: 26px;
    font-size: 13px;
    border-radius: 7px;
    padding: 0 5px;
    border: 2px solid #f64c72;
    margin: 0 7px;
    background-color: #2f2fa2;
    
  }
  .btn {
    height: 29px;
    padding: 0 10px;
    border-radius: 7px;
    border: 2px solid #f64c72;
    font-size: 13px;
    color: white;
    background-color: #2f2fa2;
    cursor: pointer;
    transition: 0.1s;
  }
  .btn:hover{
      background-color: #f64c72;
  }
  
